@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as s;
@use "../../../styles/variables/breakpoints" as b;

@import "../../../styles/variables/mixins";

.NavBar {
  width: 100%;
  background: c.$black;
  display: none;

  align-items: center;
  justify-content: center;
}

.Loader {
  height: 50px;
  box-shadow: 0 0 125px 50px c.$white;
  animation: load 1s infinite linear;
}

.Item {
  padding: s.$small s.$mid-small;
  background: c.$black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s;
  position: relative;

  & p {
    @include font_white_16();
  }

  &:hover {
    background: c.$white;

    & p {
      @include font_black_16;
    }

    & .SubMenu {
      display: flex;
    }
  }
}

.About {
  padding: s.$small s.$mid-small;
  background: c.$black;
  @include font_white_16();
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s;

  &:hover {
    background: c.$white;
    @include font_black_16;
  }
}

.SubMenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  align-items: center;
  background: c.$black;
  width: 25vw;
  max-width: 300px;
  animation: show 0.25s ease-in-out;
  text-transform: none;

  & a {
    @include font_white_16();
    text-decoration: none;
    padding: s.$extra-small 0;
    width: 100%;
    text-align: center;
    transition: all 0.25s;

    &:hover {
      @include font_black_16();
      background: c.$white;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes load {
  from {
    transform: translateX(-100vh);
  }

  to {
    transform: translateX(100vh);
  }
}

@media screen and (min-width: b.$m) {
  .NavBar {
    display: flex;
  }
}

@media screen and (min-width: b.$xl) {
  .Item {
    padding: s.$mid-small s.$medium;
  }

  .About {
    padding: s.$mid-small s.$medium;
  }
}
