@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as s;
@use "../../../styles/variables/breakpoints" as b;

@import "../../../styles/variables/mixins";

.Sections {
  @include page_block();
  display: flex;
  flex-direction: column;
  gap: s.$small;

  & a {
    @include font_white_16();
    text-transform: uppercase;
    text-decoration: none;
    padding: s.$mid-small;
    height: 20vh;
    max-height: 100px;
    background-size: cover;
    background-position: center;
    transition: all 0.25s;

    &:hover {
      box-shadow: 0 0 10px 5px c.$black;
      filter: brightness(125%);
    }
  }
}

@media screen and (min-width: b.$s) {
  .Sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & a {
      max-height: 125px;
    }
  }
}

@media screen and (min-width: b.$m) {
  .Sections {
    gap: s.$mid-small;

    & a {
      max-height: 150px;
    }
  }
}

@media screen and (min-width: b.$l) {
  .Sections {
    & a {
      @include font_white_20();
      max-height: 200px;
    }
  }
}
