@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as s;
@use "../../../styles/variables/breakpoints" as b;

@import "../../../styles/variables/mixins";

.Empty {
  padding: s.$ultra-large s.$medium;
  display: flex;
  align-items: center;
  justify-content: center;

  & h2 {
    @include font_black_30(700);
    text-align: center;
  }
}

.Product {
  width: 90%;
  margin: s.$mid-small auto;
  display: block;
  text-decoration: none;
  padding: s.$medium s.$small;
  transition: all 0.25s;
  background: c.$white;

  & h2 {
    @include font_black_20(700);
    margin-bottom: s.$small;
  }

  & p {
    @include font_black_14();
  }

  &_Image {
    position: relative;
    width: 100%;
    height: 250px;

    & img {
      width: 100%;
      object-fit: contain;
    }
  }

  &_Params {
    padding: s.$small;
  }

  &:hover {
    box-shadow: 0 0 15px c.$black;
  }
}

@media screen and (min-width: b.$xs) {
  .Product {
    padding: s.$medium;
  }
}

@media screen and (min-width: b.$s) {
  .Products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: s.$medium;
    gap: s.$mid-small;
  }

  .Product {
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: b.$m) {
  .Product {
    padding: s.$medium s.$mid-large;

    & h2 {
      @include font_black_24(700);
    }

    & p {
      @include font_black_16();
    }
  }

  .Empty {
    & h2 {
      @include font_black_36(700);
    }
  }
}

@media screen and (min-width: b.$l) {
  .Products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: b.$xl) {
  .Products {
    width: 90vw;
    margin: s.$medium auto;
    padding: 0;
    max-width: 1600px;
  }
}
